.titulo-form{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
.formulario{
    display: block;
    padding: 150px 10% 50px 10%;
    background-color: #a8e162;
}

form{
    background-color: white;
    border-radius: 5px;
    color: rgb(8, 7, 7);
    font-size: 0.8em;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}
input, textarea{
    outline: none;
    border: 0px;
}
.campo{
    border: solid 1px #a3aaa2;
    padding: 10px;
    width: 100%;
}
.campo:focus{
    border-color: #3cc93f;
}
.btn{
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    margin-left: 50%;
    padding: 20px 50px;
}
.btn-green{
    color: white;
    background-color: #3cc93f;
}
.btn-green:hover{
    background-color: #37b839;
}
.btn-green:active{
    background-color: #29962a;
}

form p {
    margin: 10px;
    font-size: 1.5em;
}

.centrar-btn-envia{
    text-align: center;

}