*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------Home-------------*/
header{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  position: fixed;
  z-index: 1;
  background-color: rgb(36, 197, 76);
  padding: 60px;
}
.conteiner-menu{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  border-radius: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100px;
}
.menu{
  display: flex;
  align-items: center;
}
.menu ul{
  display: flex;
}
.menu ul li{
  list-style: none;
  margin-left: 36px;
  position: relative;
}
.menu ul li a{
  text-decoration: none;
  font-size: 16px;
  color: rgb(2, 67, 4);
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu ul li::before{
  content: "";
  height: 3px;
  width: 0;
  background-color: rgb(165, 211, 120);
  position: absolute;
  right: 0;
  bottom: -12px;
  transition: 0.5s ease-out;
}
.menu ul li:hover:before{
  width: 100%;
}
.menu nav img{
  display: none;
}
.menu #btn_menu{
  display: none;
}
/*------------------------main------------------------*/
.inicio{
  background-image: url(../img/01.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.conteinerMain{ 
  overflow: hidden;
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0px auto;
  padding-bottom: 30px;
  padding-top: 150px;
}
.conteinerMain img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}
.conteinerMain h1{
  font-size: 50px;
  color: #050900;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-shadow:0 0 8px #a8e162;
}
.conteinerMain h2{
  font-size:28px;
  color: #a8e162;
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  text-shadow:0 0 8px #02270b;
}
.conteinerMain p{
  font-size:22px;
  color: black;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-shadow:0 0 8px #c5d7ab;
}
.conteinerMain input{
  font-size:20px;
  color: black;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  text-shadow:0 0 8px #05f03c;
  cursor: pointer;
  transition: all 0.7s ease;
  border-radius: 50px;
  padding: 15px;
  background-color: #1a331acc;
}
.conteinerMain input:hover{
  box-shadow: 10px 10px 20px greenyellow;

}
/*------------------------footer------------------------*/

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 80px;
  background: rgba(17, 17, 17, 0.846);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container-footer .redes{
  margin-right: 58px;
}
footer .container-footer .redes .social{
  width: 40%;
}
footer .container-footer h2{
  position: relative;
  color: #fbf8f8;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container-footer h2::before{
  content:'';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #05f03c;
}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgb(15, 126, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background:#31a43d;
}
.sci li a  .fab{
  color: #fff;
  font-size: 20px;
}
.SiteMap{
  position: relative;
  width: 25%;
}
.SiteMap ul li{
  list-style: none;
}
.SiteMap ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.SiteMap ul li a:hover{
  color: #fff;
}
.copy{
  width: 100%;
  background: rgb(36, 197, 76);
  padding: 8px 100px;
  text-align: center;
  color: rgb(8, 56, 15);
}

/*------------------------responsive------------------------*/
@media screen and (max-width: 900px){
  .conteinerMain{ 
    overflow: hidden;
    width: 600px;
    height: 700px;
    position: relative;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 150px;
  }
  .conteinerMain img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }
  .conteinerMain h1{
    font-size: 40px;
    color: #050900;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #a8e162;
  }
  .conteinerMain h2{
    font-size:20px;
    color: #a8e162;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #02270b;
  }
  .conteinerMain p{
    font-size:16px;
    color: black;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #c5d7ab;
  }
  .conteinerMain input{
    font-size:16px;
    color: black;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #05f03c;
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 50px;
    padding: 15px;
    background-color: #1a331acc;
  }
}
@media screen and (max-width: 780px){

  .menu nav{
    position: fixed;
    top: 0;
    right: -250px;
    background: rgb(1, 0, 9);
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
  }
  .menu ul{
    flex-direction: column;
    margin-top: 40px;
  }
  .menu ul li{
    margin-top: 30px;
    margin-left: 0;
  }
  .menu ul li a{
    color: #bebebe;
  }
  .menu ul li a:hover{
    color: #a1e497;
  }
  .menu nav img{
    height: 100px;
    width: 100px;
    display: block;
  }   
  #back_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.434);
    display: none;
  }
  .menu #btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #faf7f8;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -6px #d0f0d2;    
  }
  .menu #btn_menu:hover{
    background-color: #bebebe84;
    transition: all 300ms;
  }
  
}  
@media screen and (max-width: 600px){
  .conteinerMain{ 
    overflow: hidden;
    width: 500px;
    height: 600px;
    position: relative;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 150px;
  }
  .conteinerMain img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }
  .conteinerMain h1{
    font-size: 30px;
    color: #050900;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #a8e162;
  }
  .conteinerMain h2{
    font-size:16px;
    color: #a8e162;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #02270b;
  }
  .conteinerMain p{
    font-size:12px;
    color: black;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #c5d7ab;
  }
  .conteinerMain input{
    font-size:16px;
    color: black;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #05f03c;
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 50px;
    padding: 15px;
    background-color: #1a331acc;
  }
}
@media screen and (max-width: 500px){
  .conteinerMain{ 
    overflow: hidden;
    width: 300px;
    height: 500px;
    position: relative;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 150px;
  }
  .conteinerMain img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }
  .conteinerMain h1{
    font-size: 30px;
    color: #050900;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #a8e162;
  }
  .conteinerMain h2{
    font-size:16px;
    color: #a8e162;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #02270b;
  }
  .conteinerMain p{
    font-size:12px;
    color: black;
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #c5d7ab;
  }
  .conteinerMain input{
    font-size:12px;
    color: black;
    position: absolute;
    left: 50%;
    top: 89%;
    transform: translate(-50%, -50%);
    text-shadow:0 0 8px #05f03c;
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 50px;
    padding: 0;
    background-color: #1a331acc;
  }

}
/*------------------------Contacto------------------------*/
/*------------------------Gaston------------------------*/

.titulo-form{
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}
.formulario{
  display: block;
  padding: 150px 10% 50px 10%;
  background-color: #a8e162;
}
form{
  background-color: white;
  border-radius: 5px;
  color: rgb(8, 7, 7);
  font-size: 0.8em;
  margin: 0 auto;
  width: 90%;
  padding: 10px;
}
input, textarea{
  outline: none;
  border: 0px;
}
.campo{
  border: solid 1px #a3aaa2;
  padding: 10px;
  width: 100%;
}
.campo:focus{
  border-color: #3cc93f;
}
.btn{
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  margin-left: 50%;
  padding: 20px 50px;
}
.btn-green{
  color: white;
  background-color: #3cc93f;
}
.btn-green:hover{
  background-color: #37b839;
}
.btn-green:active{
  background-color: #29962a;
}
form p {
  margin: 10px;
  font-size: 1.5em;
}
.centrar-btn-envia{
  text-align: center;
}
/*------------------------Gaston------------------------*/